<div class= "container home-sections d-flex flex-row justify-content-center align-items-center">
  <div class= "image-section pt-3 d-none d-lg-block"> </div>
  <div class= "login-section pt-3">
    <div class= "card text-center pt-5" > 
      <%= image_tag("logo.png", height: "40%", class: "align-self-center mb-2")%>
      <p class="w-75 fs-6 fw-bold text-secondary align-self-center mt-2"> Sign up to see photos and videos from your friends. </p>
      <div class= "card-body">
        <%# form start...... %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class= "mb-3 mt-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            class: "form-control", id: "email", placeholder: "Please Enter your e-mail" %>
          </div>
          <div class= "mb-3 mt-4">
            <%= f.text_field :full_name,  
            class: "form-control", id: "full_name", placeholder: "Please Enter your name" %>
          </div>
          <div class= "mb-3 mt-4">
            <%= f.text_field :user_name, 
            class: "form-control", id: "user_name", placeholder: "Please Enter your user name" %>
          </div>
          <div class= "mb-3 mt-4">
            <%= f.text_field :phone_number, 
            class: "form-control", id: "phone_number", placeholder: "Please Enter your phone number" %>
          </div>
          <div class= "mb-3">
            <%= f.password_field :password, 
            class: "form-control", placeholder: "Password, at least 6 character" %>
          </div>
          <div class="mb-3">
            <%= f.password_field :password_confirmation, 
            class: "form-control", placeholder: "Password Confirmation" %>
          </div>
          <%= f.submit "Sign up", class:  "btn btn-primary w-100" %>
          <%# form end........ %>
        <% end %>

        <% if notice %>
          <p class="notice"><%=notice %></p>
            <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>
      <div class="card text-center py-2 mt-3 mx-auto" style="width: 23rem;">
      <div class="card-text">
        have an account? 
        <%= link_to  "Sign in", new_user_session_path, class: "fs-6 my-4 text-decoration-none text-info" %>
      </div>
      </div>
  </div>
</div>




