<div class= "container home-sections d-flex flex-row justify-content-center align-items-center">
  <div class= "image-section pt-3 d-none d-lg-block"> </div>

  <div class= "login-section pt-3">
    <div class= "card text-center pt-5" > 
      <%= image_tag("logo.png", height: "40%", class: "align-self-center")%>
      <div class= "card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class= "mb-3 mt-4">
          <%= f.email_field :email, class: "form-control", id: "email", placeholder: "Enter your phone number, username, or e-mail" %>
        </div>
        <div class= "mb-3">
          <%= f.password_field :password, class: "form-control", id: "password", placeholder: "Enter your password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field d-flex align-items-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit "Log In", class: "btn btn-primary w-100 mt-2" %>
        <% end %>
        <%# 上面是登入用 %>
        <div class= "d-flex align-items-center mt-4">
          <div class= "line"></div>
          <div class= "line-text">OR</div>
          <div class= "line"></div>
        </div>
        <a href="#" class="d-block mt-4 text-decoration-none fw-bold">
          <%= image_tag("facebook.png",width: "10%", class:  "facebook") %>
          Log in with Facebook
        </a>
        <% if notice %>
          <p class="notice"><%=notice %></p>
            <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>

  </div>

</div>