<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
  <div class="card" style="width: 28rem;">
    <div class="card-header">
      Featured
    </div>
    <% post.images.each do |image|%>
      <%= image_tag image, class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= post.longitude %>
  </p>

  <p>
    <strong>Lattitude:</strong>
    <%= post.lattitude %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Allow to comment:</strong>
    <%= post.allow_to_comment %>
  </p>

  <p>
    <strong>Show likes:</strong>
    <%= post.show_likes %>
  </p>

</div>
